.pictures{
    height: 350px;
    width: 450px;
}
h1, h2{
    display:inline-block;
    color:black;
    text-transform: uppercase;
    font-family:"Autobus";
}
p{
    color:black;
    font-family:"TimeBurnerNormal";
}
@font-face{
    font-family:Autobus;
    src: url(Autobus-Bold.ttf);
}
@font-face{
    font-family:TimeBurnerNormal;
    src: url(timeburnernormal.ttf)
}

body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c5deea+0,8abbd7+31,066dab+100;Web+2.0+Blue+3D+%231 */
    background: #c5deea; /* Old browsers */
    background: -moz-linear-gradient(top, #c5deea 0%, #8abbd7 31%, #066dab 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c5deea 0%,#8abbd7 31%,#066dab 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c5deea 0%,#8abbd7 31%,#066dab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */
}

nav ul{
    overflow: hidden;
    width: auto;
}
nav ul li{
    width: auto;
    display: inline-block;
    background-color:rgb(255,165,0);
    margin-left: 5px;
    margin-right: 5px;
}

nav ul li a{
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family:"Autobus";
}

nav ul li a:hover{
    background-color:white;
    color:rgb(0,90,255);
}